body {
	background-color: rgb(38, 42, 65);
	color: rgb(149, 196, 117);
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

.mainPage {
	display: flex;
}

.mainContent {
	width: 70%;
	border: solid 3px black;
	box-sizing: border-box;
}

.sideBar {
	width: 30%;
	border: solid 0px black;
	box-sizing: border-box;
}

#searchBar {
	width: 70%;
}

#searchButton {
	width: 20%;
}

#searchImage {
	width: 12px;
}

#google-signin {
	position: absolute;
	top: 0px;
	right: 0px;
}
