@import "~antd/dist/antd.less";

@primary-color: #8cc8ff;
@secondary-color: #ffe818;
@heading-color: #c8c076;
@text-color: #a59e5e; // major text color

body {
  margin: auto;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

#google-signin {
  margin: auto;
  margin-bottom: 15px;
}

#review-col {
  color: @text-color;
}
