@import "~antd/dist/antd.less";

@primary-color: #8cc8ff;
@secondary-color: #ffe818;
@heading-color: #c8c076;
@text-color: #a59e5e; // major text color

body {
  min-height: 100vh;
  margin: auto;
  text-align: center;
}

#google-signin {
  margin: auto;
  margin-top: 25px;
}

#review-col {
  //overflow: auto;
  color: @text-color;
}