body {
  color: rgb(149, 196, 117);
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0%;
}

h1 {
  margin: 1%;
}

.App {
  padding: 1%;
  background-color: rgb(0, 0, 0, 0.25);
}

.mainPage {
  margin: auto;
  width: 100%;
  display: contents;
}

.review-box {
  background-color: rgb(0, 0, 0, 0.25);
  border-radius: 7px;
}

.mainContent {
  padding: 4%;
  background-color: rgb(0, 0, 0, 0.25);
  margin: auto;
}

.contentContainer {
  padding: 4%;
  background-color: rgba(173, 173, 173, 0.1);
  margin: auto;
}

.search-bars {
  display: inline-flex;
}

.carouselContainer {
  width: 80%;
  margin: auto;
}

#searchBar {
  width: 70%;
}

#searchButton {
  width: 20%;
}

.searchImage {
  width: 12px;
}

#google-signin {
  position: absolute;
  top: 0px;
  right: 0px;
}

#reviewImageContainer {
  width: 80%;
  margin: auto;
}

#reviewTextContainer {
  width: 80%;
  margin: auto;
}

#reviewImage {
  width: 95%;
  height: 300px;
  object-fit: cover;
}

#reviewBottom {
  width: 100%;
}

#submit-button {
  margin: 5%;
  width: 30%;
  height: 15%;
}
